@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

/*remove all margin and padding defaults*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

/*center logo on homepage*/
#logo {
    margin: 0px, auto; 
    width: 100%;
    text-align: center;
    margin-top: 10px;
    
   
    
}

/* header {
    position: sticky;
    top: 0;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px; 
    width: 100%;
    } */

#button_area h2 {
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 30px;
    font-size: 1.8rem;


}

#picture_area { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
    
}

/*button box shadom effect added*/
.buttonsClick {
    width: 80px;
    height: 50px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    transition: 150ms;
}

/*add hover so it looks like the clickable button zooms up as you hover over, user feedback*/
.buttonsClick:hover {
    transform: scale(1.3);
}

/*images for rock paper scissors adjusted to height wisth set to auto to keep aspect ratio correct*/
.images {
    width: auto;
    height: 150px;
    
    
}

/*create a grid for the leaderboard information to be held in, reference https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_grid-column-gap */

#score_board {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 150%;
    align-items: center;
    justify-items: center;

}

#play_area {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    margin-top: 50px;
    background-color: #fbfcf8;
    box-shadow: rgba(43, 42, 42, 0.1) 0px -3px 10px;
    text-align: center;
}

/*add style to the choice that was made by user and computer, populated by js but styled via css*/
.choice { 
    font-weight: 600;
    margin-top: 14px;

}

#rules {
    font-family: 'Rajdhani', sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
}

#rules > h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 150%;
}

/*media query for mobile responsiveness*/
@media screen and (max-width: 758px) {
    #button_area {
        width: 100%;
        margin: 0 auto;
    }

   .buttonsClick { 
       font-size: 1.0rem;
       height: 40px;
       width: 70px;
   }

   .images {
    width: auto;
    height: 100px;
   }

   #play_area {
       font-size: 0.75rem;
       padding: 10px;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;

   }

   #play_area > h2 {
       margin-top: 30px;
   }

   .PC_choice {
       order: -2;

   }

   .your_choice {
       margin-top: 20px;
   }

   #rules {
       font-size: 0.85rem;
   }

   #score_board { 
       margin-top: 10px;
   }
   
}

