@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

/*remove all margin and padding defaults*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
 /* background-color: ; */
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

/*center logo on homepage*/
#logo {
    margin: 0px; auto; 
    width: 100%;
    text-align: center;
    
   
    
}

/* header {
    position: sticky;
    top: 0;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px; 
    width: 100%;
    } */

#button_area {
    /* background-color: grey; */
}

#button_area h2 {
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 30px;
    font-size: 1.8rem;


}

#picture_area { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    
}

.images {
    width: auto;
    height: 150px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

}
